
<div class="container">
<div>
    <h2 class="text-center  mx-auto mt-5">Coronavirus Symptoms</h2>
  </div>
  <br>

  <br>
  <div>
    <div class="row mt -2">
      <div class="col-lg-4 col-md-3 ">
        <img src="../assets/images/fever.gif" class="rounded-circle" height="120px">
        <caption> <b>Fever</b></caption>
      </div>
      <div class="col-lg-4 col-md-3 ">
        <img src="../assets/images/cough.gif" class="rounded-circle" height="120px">
        <caption><b>Cough</b></caption>
      </div>

      <div class="col-lg-4  col-md-3 ">
        <img src="../assets/images/nose.gif" class="rounded-circle" height="120px">
        <caption><b>Runny Nose</b></caption>
      </div>
    </div>
    <br>
    <div class="row mt -3">
      <div class="col-lg-4 col-md-3 ">
        <img src="../assets/images/headache.gif" class="rounded-circle" height="120px">
        <caption> <b>Headache</b></caption>
      </div>
      <div class="col-lg-4 col-md-3 ">
        <img src="../assets/images/tiredness.gif" class="rounded-circle" height="120px">
        <caption><b>Tiredness</b></caption>
      </div>

      <div class="col-lg-4  col-md-3 ">
        <img src="../assets/images/difficulty breathing.gif" class="rounded-circle" height="120px">
        <caption><b>Difficulty Breathing</b></caption>
      </div>
    </div>
  </div>
</div>